body {
    background: #fef5e8 url(../images/seamless-brown-mountains.png) bottom repeat-x;
}

#divMain{
    padding: 10px;
}

#display {
    cursor: default;
}

#display:focus{
    outline: 0;
}

#taskbar {
}
#divButtonBar{
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid #9B9286;
}

#divConsole{    
    background-color: #DFDBC3;
    overflow: hidden;
    padding: 0 10px;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    border: 13px solid #ffffff;
    position: relative;
}

#divConsole .canvas{
    overflow-x: hidden;
    overflow-y: auto;
    height: 480px;
    display: block;
    top: 25px;
    position: absolute;
}

.normal_button {
    width: 100px;
}

.normal_button:focus{
    outline: 0;
}

.footerText {
    /*color: black;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    text-align: center;
}

textarea{
    /*background-color: #DFDBC3;*/
    padding: 5px; 
    font-size: .9em;
    resize: none;
    font-family: "consolas";
    width: 100%;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    border: 13px solid #ffffff;
    position: relative;
}


#taLog{
    color: lightgreen;
    background: rgba(0,0,0,.6);
}

h1, label{
    font-weight: normal;
}

#divUserProgramInput{
    margin-top: 20px;
}

#memory{
    margin-top: 20px;
}
#memory .content{
    background-color: #DFDBC3;
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}
#memory .content table{
    width: 100%;
}
#memory .content table tr.has-value{
    background-color: #A39A8A;
}
#memory .content table tr td{
    border: 1px solid #000;
}

#registerAnalysis{
    margin-top: 20px;
}

#cpuStatus .content, #pcbStatus .content{
    background-color: #fff;
    min-height: 195px;
}

#analysisTabs li a{
    color: #000;
}

#pcbStatus .content table tr.active td,
#cpuStatus .content table tr.active td{
    background: rgba(89, 131, 27, 0.41);
    font-weight: bold;
}

#pcbStatus .content table tbody tr.error td,
#cpuStatus .content table tbody tr.error td{
    background: rgba(236, 19, 19, 0.41);
    font-weight: bold;
}

/* process results legend */
#processResultsLegend, #cpuResultsLegend{
    display: block;
    width: 100%;
    font-weight: strong;
    border-top: 1px solid #ccc;
    padding: 10px 0;
}
#processResultsLegend .successful-op,
#processResultsLegend .invalid-op,
#cpuResultsLegend .successful-op,
#cpuResultsLegend .invalid-op{
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

#processResultsLegend .successful-op,
#cpuResultsLegend .successful-op{
    background: rgba(89, 131, 27, 0.41);    
}

#processResultsLegend .invalid-op,
#cpuResultsLegend .invalid-op{
    background: rgba(236, 19, 19, 0.41);  
}

.card{
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    border: 13px solid #ffffff;

}